/* CSS Document */

/*********************************************************************

Style Reset - removes browser defaults

**********************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

/*************************************************************
MAIN GENERAL STYLES
*************************************************************/
body {
	margin: 0;
	border: 0;
	padding: 0;
	background-image:url(../images/bodyBg.jpg);
	background-repeat:repeat-x;
	background-color:#88ba55;
	font-family:Arial, Helvetica, sans-serif;
}
img
	{
	margin: 0;
	padding: 0;
	border: 0;
	behavior: url(css/png_fix.htc);
}
flash
	{
	margin: 0;
	padding: 0;
	border: 0;
}
form{
	margin: 0;
	padding: 0;
	border: 0;
}
.clear{ 
  	clear:both; 
	/*** these next attributes are designed to keep the div 
	height to 0 pixels high, critical for Safari and Netscape 7 ***/ 
	  height:1px; 
	  overflow:hidden; 
	  line-height:1%; 
	  font-size:0px; 
	  margin-bottom:-1px; 
} 
/*************************************************
UNIVERSAL STYLES
**************************************************/
h1{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
p{
	margin:0 0 0 10px;
	padding:0 0 7px 0;
	color:#200202;
	font-size:12px;
	line-height:18px;
}
ul{
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#200202;
	font-size:12px;
	line-height:18px;

}
li{
	margin:0 0 0 30px;
	padding:0 0 0 0;
	color:#200202;
	font-size:12px;
	line-height:18px;

}
a{	
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#000;
	text-decoration:underline;
}
a:hover{	
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#fff;
	text-decoration:underline;
}
a.link{	
	margin:0 0 0 0;
	padding:0 0 0 0;
}
a:hover.link{	
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.generalHeader{
	margin:0 0 5px 7px;
	padding:0 0 0 25px;
	background-image:url(../images/blueDotArrow.png);
	background-position:left;
	background-repeat:no-repeat;
}
.generalHeader:hover{
	background-image:url(../images/blueDotArrow_over.png);
	background-position:left;
	background-repeat:no-repeat;
}
/*************************************************
CONTAIN
**************************************************/
#contain{
	margin: 0 auto;
	padding:0 0 0 0;
	width:968px;
	background-image:url(../images/contentBg.jpg);
	background-repeat:no-repeat;
	height:783px;
}
#auxNav{
	margin:0 0 0 0;
	padding:7px 112px 0 0;
	float:right;
}
#auxNav img{
	margin:0 17px 0 0;
	padding:0 0 0 0;
}
#nav{
	padding: 43px 119px 0 0;
	margin: 0 0 0 0;
	float:right;
}
#content{
	margin:0 0 0 0;
	padding:0 0 0 75px;
	width:798px;
}
#contentLeft{
	margin:90px 0 0 0;
	padding:0 0 0 0;
	width:375px;
	float:left;
}
#contentLeft .headerText{
	margin:7px 0 7px 10px;
	padding:0 0 0 0;
}
#contentLeft p{
	margin:0 0 7px 10px;
	padding:0 0 0 0;
	color:#200202;
	font-size:12px;
	line-height:18px;
}
#contentRight{
	margin:160px 0 0 0;
	padding:0 30px 0 0;
	width:364px;
	float:right;
}
#contentRight p{
	margin:0 0 7px 10px;
	padding:0 0 0 0;
	color:#200202;
	font-size:12px;
	line-height:18px;
}
#callout{
	margin:0 0 0 0;
	padding:40px 0 0 75px;
	width:968px;
}
#calloutLeft{
	margin:0 0 0 0;
	padding:38px 0 0 0;
	float:left;
	width:320px;
}
#calloutLeft img{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#calloutLeft p{
	margin:0 0 7px 0;
	padding:0 0 0 0;
}
#calloutRight{
	margin:0 0 0 0;
	padding:0 170px 0 0;
	float:right;
	width:413px;
}
#footer{
	margin:27px 0 0 0;
	padding:0 0 0 0;
	width:320px;
	float:left;
}
#footer p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#fff;	
}
#footer a{
	color:#fff;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}
#footer a:hover{
	color:#460505;
	text-decoration:none;
}