<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/drill.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. About Us: Executive Bios</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/drill.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
<div id="header">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png"  /><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Print" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav"><!-- InstanceBeginEditable name="nav" --><a href="aboutUs.html"><img src="images/nav_aboutUs_on.png" alt="About Us" hsrc="images/nav_aboutUs_on.png" /></a><a href="products.html"><img src="images/nav_products_up.png" alt="Products" hsrc="images/nav_products_over.png" /></a><a href="newsAndMedia.html"><img src="images/nav_newsMedia_up.png" alt="NEws and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signIn.html"><img src="images/nav_signIn_up.png" alt="Employee Sign In" hsrc="images/nav_signIn_over.png" /></a><!-- InstanceEndEditable --><!--end templateNav--></div><!--end nav--><div class="clear">&nbsp;</div></div><!--endHeader-->
<div id="content">
    	<div id="contentLeft"><!-- InstanceBeginEditable name="callouts" --><div id="calloutBlue"><img src="images/blueCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/hr_aboutUs_drill.png" width="188" height="18" alt="About Us" /><div id="subNav"><a  class="on" href="executiveBios.html">Executive Bios</a></div><!--end subNav-->
</div><!--end calloutContent--><img src="images/blueCallout_bottom.png" width="229" height="19" /></div><!--end calloutBlue--><img src="images/callout_spacer.png" width="229" height="10" /><div id="calloutGreen"><img src="images/greenCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/contactUs_callout.png" width="182" height="266" alt="About Us" /></div><!--end calloutContent--><img src="images/greenCallout_bottom.png" width="229" height="19" /></div><!--end calloutGreen--><!-- InstanceEndEditable --><!--end templateCallouts--><img src="images/callout_bottom.png" width="229" height="14" /></div><!--end contentLeft-->
        <div id="contentRight">
          <!-- InstanceBeginEditable name="content" -->
		<h1>Executive Bios </h1>
<h2>Grant Strickler, President and CEO</h2>
<img src="images/exec_Grant-Strickler.jpg" class="execBio" /><p>Mr. Strickler is a 30-year veteran of the Los Angeles Public School System, where he taught early childhood education. It was in that position, fifteen years ago, when Mr. Strickler realized the importance of teaching those young students technology education. Consequently, Plush Packet Inc. (PPI) was born. Mr. Strickler conceived PPI as a way to present technology to early childhood learners. His vision and guidance has made PPI a multi-million dollar company and one of the world’s top producers of children’s educational products.</p>
<p>Mr. Strickler is a 1966 graduate of Pepperdine University, where he received his Bachelor of Science in early childhood education. He began teaching in the Los Angeles Public Schools shortly thereafter. After beginning his teaching career, Mr. Strickler supplemented his education with a Master’s Degree in Education from the University of California, Los Angeles, in 1971. When he is not diligently working at PPI, Mr. Strickler enjoys the beach at his vacation home in La Jolla, California with his wife, Leslie. The Stricklers have three grown children: Alex, Tom, and Carmen.
</p>
<h2>Tanya Holcomb, Chief Technology Officer (CTO)</h2>
<img class="execBio" src="images/exec_Tanya-Holcolmb.jpg" /><p>Tanya Holcomb has been an integral part of PPI’s business plan, as she oversees the development of PPI’s technology initiatives. As a leader in the technology education field, Mrs. Holcomb brings a wealth of knowledge from her work at EduTechLearn, an educational software company, where she was Vice President of Technology Research and Development. At PPI, Mrs. Holcomb has worked on creating products for web-based platforms and computer games. </p>
<p>Mrs. Holcomb achieved her Doctorate in Computer Science from the Massachusetts Institute of Technology in 1988. She also holds a Master’s Degree in Computer Science from Boston College and a Bachelor’s Degree in Computer Programming from Ithaca University. In her spare time, Mrs. Holcomb enjoys Skiing and Snowboarding with her husband, Dante, at their cottage in the mountains of Vermont.</p>

<h2>Raymond Heidrick, Chief Financial Officer (CFO)</h2>
<img class="execBio" src="images/exec_Raymond-Heidrick.jpg" /><p>Raymond Heidrick comes to PPI from AmeriBankCo, where he was the Senior Vice President of Finance. At PPI, Mr. Heidrick is responsible for managing and budgeting PPI’s financial assets. Furthermore, Mr. Heidrick provides valuable financial insights on corporate strategy and product development. Most importantly, Mr. Heidrick and the accounting team keep track of PPI’s tax obligations.</p>
<p>Mr. Heidrick is a Certified Public Accountant (CPA) with a Bachelor’s Degree in accounting from University of Maryland and a Master’s Degree in Economics from Johns Hopkins University. In his leisure time, Mr. Heidrick enjoys fishing, crabbing and boating with his partner, Steve, at their vacation home on the eastern shore of Maryland.</p>

<h2>Susan Carmine, Chief Human Resources Officer (CHRO)</h2>
<img class="execBio" src="images/exec_Susan-Carmine.jpg" /><p>Susan Carmine, our energetic and enthusiastic CHRO, came to PPI from PowerSplit Electric Supply, the chief energy supplier for Southern California, where she was President of Communications and Public Relations. In her role at PPI, Mrs.Carmine is responsible for managing all Human Resource issues, including: hiring, training, termination, benefits, employee handbook, and corporate service projects. Furthermore, Susan manages PPI’s communications, press releases and public image. She has been successful in this role by making PPI’s characters and toys among the most recognizable by small children.</p>
<p>Susan is a 1990 graduate of the University of Notre Dame, where she achieved her Master’s Degree in Communications. She also possesses a Bachelor’s Degree in Human Resource Management from Northwestern University. For fun, Mrs. Carmine enjoys exercising and marathon racing. Last year, she successfully finished the New York City Marathon; a run of over 26 miles! Mrs. Carmine has a husband, George, and two adult children.</p>

<h2>Michelle Chin , Chief Legal Officer (CLO)</h2>
<img class="execBio" src="images/exec_Michelle-Chin.jpg" />
<p>Ms. Chin is PPI’s Chief Legal Officer and Senior In-House Counsel. Ms. Chin comes to PPI from China, where she was born and raised. There, Ms. Chin attended Tsinghua University in Beijing where she achieved an undergraduate degree in International Relations. At the age of 21, Ms. Chin moved to the United States, where she achieved a Juris Doctorate degree from Stanford University Law School. After Graduation, Ms. Chin practiced at the law firm of LeCart, Johnson and Pizzini in Los Angeles, where she concentrated on corporate law and taxation. </p>
<p>In her role at PPI, Ms. Chin is responsible for managing all PPI’s legal issues, including: intellectual property, employment law, sales and leases, contracts, and litigation. Ms. Chin also manages the attorneys of PPI’s in-house legal department. Ms. Chin is a traveler extraordinaire, and has visited over 30 countries. Her favorite trip was to Antarctica four years ago. She is now one of the few humans to visit the frozen continent. Ms. Chin has two teenage children.</p>
<!-- InstanceEndEditable --><!--end contentTemplate--></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="footerNav"><div id="footerInterior"><p align="center"><a href="default.html">Home</a> | <a href="aboutUs.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsAndMedia.html">News &amp; Media</a> | <a href="signIn.html">Sign In</a> | <a href="#">Email</a></p></div><!--end footerInterior--></div><!--end footer--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
