<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/drill.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. About Us</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/drill.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
<div id="header">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png"  /><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Print" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav"><!-- InstanceBeginEditable name="nav" --><a href="aboutUs.html"><img src="images/nav_aboutUs_on.png" alt="About Us" hsrc="images/nav_aboutUs_on.png" /></a><a href="products.html"><img src="images/nav_products_up.png" alt="Products" hsrc="images/nav_products_over.png" /></a><a href="newsAndMedia.html"><img src="images/nav_newsMedia_up.png" alt="NEws and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signIn.html"><img src="images/nav_signIn_up.png" alt="Employee Sign In" hsrc="images/nav_signIn_over.png" /></a><!-- InstanceEndEditable --><!--end templateNav--></div><!--end nav--><div class="clear">&nbsp;</div></div><!--endHeader-->
<div id="content">
    	<div id="contentLeft"><!-- InstanceBeginEditable name="callouts" --><div id="calloutBlue"><img src="images/blueCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/hr_aboutUs_drill.png" width="188" height="18" alt="About Us" /><div id="subNav"><a href="aboutUs_executiveBios.html">Executive Bios</a></div><!--end subNav-->
</div><!--end calloutContent--><img src="images/blueCallout_bottom.png" width="229" height="19" /></div><!--end calloutBlue--><img src="images/callout_spacer.png" width="229" height="10" /><div id="calloutGreen"><img src="images/greenCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/contactUs_callout.png" width="182" height="266" alt="About Us" /></div><!--end calloutContent--><img src="images/greenCallout_bottom.png" width="229" height="19" /></div><!--end calloutGreen--><!-- InstanceEndEditable --><!--end templateCallouts--><img src="images/callout_bottom.png" width="229" height="14" /></div><!--end contentLeft-->
        <div id="contentRight">
          <!-- InstanceBeginEditable name="content" -->
		<h1>Company History</h1>
        


<p>Plush Packet  Inc. (PPI) was formed in 1993 when CEO and founder, Grant Strickler, had a  vision of promoting pre-school and elementary-level technology learning by  using fun cartoon characters. Grant had been a career educator in early  childhood education with a passion for technology in the classroom. He retired  from his teaching position after thirty years of service to start PPI. </p>

<p>In the first  year, PPI released two hardcover titles for pre-school reading. The content  within those titles was infused with multimedia and technology education. More  importantly, the titles introduced the lead talking animal character, Packet  the Porcupine, and his friends Byte the Bear, Wire the Weasel, and Router the Raccoon.  Teachers were given exercises for students which corresponded to the books. In  the classroom, teachers were supplied with plush toys of some of the characters in the  stories to help captivate students.</p>

<p>Over the next 10  years, PPI expanded to offer other titles for elementary school children, based  on the same characters. Sales grew as more units were sold and the company grew  to more than 25 employees. Grant decided at this time to expand into new  markets. PPI developed a series of highly successful educational DVDs, CD-ROMs,  and web-based multimedia that would be sold directly to parents. They also  expanded their line of plush toys, and began to sell them at retail stores.</p>

<p>Since 2003, PPI has continued  to grow. Most of its success can be attributed to a partnership between PPI and  a major reseller of toys and educational media, EduCorp. A contract with  EduCorp led to an episodic &ldquo;Packet the Porcupine&rdquo; children&rsquo;s television program  that was syndicated in major markets. Packet&rsquo;s soaring popularity has also led  to some less successful ventures, such as the Packet the Porcupine comic book,  board game and the spin-off of some new characters and toys, which have yet to  turn a profit.</p>

<p>PPI is currently  still expanding, approaching $100 million in sales annually, with a staff of  350. In addition to the Los Angeles, CA headquarters, PPI has opened satellite  offices in both Chicago, IL and Washington, DC and has outsourced toy  production to a contract company in China. </p>
          <!-- InstanceEndEditable --><!--end contentTemplate--></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="footerNav"><div id="footerInterior"><p align="center"><a href="default.html">Home</a> | <a href="aboutUs.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsAndMedia.html">News &amp; Media</a> | <a href="signIn.html">Sign In</a> | <a href="#">Email</a></p></div><!--end footerInterior--></div><!--end footer--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
