<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<title>Plush Packet Inc.</title>


 <script type="text/javascript" src="js/swfobject.js"></script>
 <script language="javascript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/default.css" rel="stylesheet" type="text/css" />
</head>


<body onload="initRollover()">
<div id="contain">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png" /><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Print" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav">
	<a href="aboutUs.html"><img src="images/nav_aboutUs_up.png" alt="About Us" hsrc="images/nav_aboutUs_over.png" /></a><a href="products.html"><img src="images/nav_products_up.png" alt="Products" hsrc="images/nav_products_over.png" /></a><a href="newsAndMedia.html"><img src="images/nav_newsMedia_up.png" alt="News and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signIn.html"><img src="images/nav_signIn_up.png" alt="Employee Sign In" hsrc="images/nav_signIn_over.png" /></a></div><!--end nav--><div class="clear">&nbsp;</div>
<div id="content">
    	<div id="contentLeft">
   	    <img src="images/fox.png" width="375" height="179" alt="fox" /><img class="headerText" src="images/hr_meetOurFriends.png" alt="Meet Our Friends" width="168" height="18" />
   	    <p>Our family here at PPI continues to grow! Check out Packet's newest plush friends on our <a href="products_plushToys.html">products page</a>.</p></div><!--end contentLeft-->
        <div id="contentRight"><img src="images/hr_introContent_up.png" alt="Intro Content" hsrc="images/hr_introContent_over.png" />
          <p>Plush Packet Inc. has been combining technology and education to promote learning and student success since 1993. Explore our website to learn more about our company and our fun, high-quality games and toys!</p></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="callout"><div id="calloutLeft"><img src="images/hr_aboutUs_up.png" alt="About Us" hsrc="images/hr_aboutUs_over.png" />
            <p><strong>Plush Packet  Inc. is a recognized leader in technology infused, educational toys and games. </strong>With offices in Los Angeles, Chicago and Washington D.C., PPI continues to grow and expand its product line.    </p>
            <p align="right"><a href="#"><img src="images/btn_learnMore.png" hsrc="images/btn_learnMore_over.png" width="87" height="27" alt="Learn More" /></a></p><div id="footer"><p align="center">&nbsp;</p>
              <p align="center"><a href="default.html">Home</a> | <a href="aboutUs.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsAndMedia.html">News &amp; Media</a> | <a href="signIn.html">Sign In</a> | <a href="mailto:info@ppi.com">Email</a></p>
            </div><!--end footer--></div><!--end calloutLeft--><div id="calloutRight">
       	    <img src="images/logo.png" width="413" height="275" alt="Plush Packet Inc." /></div><!--end calloutRight--><div class="clear">&nbsp;</div></div><!--end Callout--></div><!--end contain-->
</body>
</html>
