<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<title>Plush Packet Inc.</title>


 <script type="text/javascript" src="js/swfobject.js"></script>
 <script language="javascript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/drill.css" rel="stylesheet" type="text/css" />
</head>


<body onload="initRollover()">
<div id="contain">
<div id="header">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><a href="mailto:info@ppi.com"><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png" /></a><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Home" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav">
	<a href="aboutUs.html"><img src="images/nav_aboutUs_on.png" alt="About Us" hsrc="images/nav_aboutUs_on.png" /></a><a href="products.html"><img src="images/nav_products_up.png" alt="Products" hsrc="images/nav_products_over.png" /></a><a href="newsandmedia.html"><img src="images/nav_newsMedia_up.png" alt="NEws and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signin.html"><img src="images/nav_signIn_up.png" alt="Employee Sign In" hsrc="images/nav_signIn_over.png" /></a></div><!--end nav--><div class="clear">&nbsp;</div></div><!--endHeader-->
<div id="content">
    	<div id="contentLeft"><div id="calloutBlue"><img src="images/blueCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/hr_aboutUs_drill.png" width="188" height="18" alt="About Us" />
        	<div id="subNav"><a href="executivebios.html">Executive Bios</a></div><!--end subNav-->
</div><!--end calloutContent--><img src="images/blueCallout_bottom.png" width="229" height="19" /></div><!--end calloutBlue--><img src="images/callout_spacer.png" width="229" height="10" /><div id="calloutGreen"><img src="images/greenCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/contactUs_callout.png" width="182" height="266" alt="About Us" /></div><!--end calloutContent--><img src="images/greenCallout_bottom.png" width="229" height="19" /></div><!--end calloutGreen--><img src="images/callout_bottom.png" width="229" height="14" /></div><!--end contentLeft-->
        <div id="contentRight">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h1>
        <img class="thumb" src="images/stuffedAnimals.jpg" width="200" height="133" alt="stuffed animals" />
        <p>The incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore beatae vitae dicta. Doinventore veritatis et quasi architecto beatae vitae dicta. Lorem ipsum dolor sit.</p>
        <p><strong>Lorem ipsum dolor sit amet, consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore beatae vitae dicta. Doinventore veritatis et quasi architecto beatae vitae dicta. <a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis.</p>

		<p>Aliquam rutrum, erat a molestie consectetur, metus libero tempus purus, vitae interdum felis ipsum quis enim. Fusce lacinia sapien id dui ullamcorper non aliquet dui gravida. Sed blandit pellentesque tincidunt. Vivamus tempor pharetra enim at euismod. Aliquam sodales molestie rutrum. Donec tellus dui, laoreet vel rutrum laoreet, viverra non nisl. Etiam sit amet nisl vel dui tempus rutrum. Sed commodo elementum hendrerit. Vestibulum nisl tellus, eleifend et pretium sed, congue ac odio. In vitae velit neque. Proin varius turpis non orci facilisis accumsan. Phasellus tempor laoreet tincidunt. <a href="#">Suspendisse ornare venenatis</a> lacinia. Vivamus risus orci, commodo fringilla rhoncus nec, sollicitudin et dolor. </p>
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior"><img src="images/hr_signIn_up.png" alt="Intro Content" width="250" height="27" hsrc="images/hr_signIn_over.png" />
          <table width="80%" border="0" cellspacing="0" cellpadding="10" class="loginForm">
  <tr>
    <td><h2>User Name:</h2></td>
    <td><input type="text" id="username" /></td>
  </tr>
  <tr>
    <td><h2>Password:</h2></td>
    <td><input type="text" id="password" /></td>
  </tr>
</table>
<p align="right"><a href="#"><img src="images/btn_logIn.png" hsrc="images/btn_logIn_over.png" width="74" height="27" alt="Learn More" /></a></p>
        </div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="footerNav"><div id="footerInterior"><p align="center"><a href="default.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsandmedia.html">News &amp; Media</a> | <a href="signin.html">Sign In</a> | <a href="mailto:info@ppi.com">Email</a></p></div><!--end footerInterior--></div><!--end footer--></div><!--end contain-->
</body>
</html>
