<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/intranet.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. Intranet: Offices</title>
<!-- InstanceEndEditable --><!--end templateHead-->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->
<link href="css/intranet.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
	<div id="header">
		<div id="headerLeft">
			<a href="default.html"><img src="images/intranetLogo.png" alt="PPI" width="266" height="176" border="0" /></a> </div>
		<!--end headerLeft-->
		<div id="headerRight">
			<div id="intranetAuxNav">
			    <!-- InstanceBeginEditable name="logIn" -->			  <img class="auxNavHeader" src="images/intranet_auxNav_hr_youAreSi.png" width="138" height="19" alt="You are Signed In" />
				<div id="auxNavLeft">
				<table border="0" cellspacing="0" cellpadding="10" class="loginForm">
  <tr>
    <td><h3>Hi stranger, welcome back!</h3></td>
  </tr>
</table>
</div><!--end auxNavLeft-->
<div id="auxNavRight"><a href="portal.html"><img src="images/btn_logOut_up.png" hsrc="images/btn_logOut_over.png" width="74" height="27" alt="Log Out" /></a></p></div><!--end auxNavRight--><!-- InstanceEndEditable --><div class="clear">&nbsp;</div>
		  </div><!--end auxNav--><div class="clear">&nbsp;</div>
			<div id="intranetNav"><!-- InstanceBeginEditable name="nav" --><a href="intranetHome.html"><img src="images/intranet_nav_home_up.png" alt="Home" width="42" height="22" hsrc="images/intranet_nav_home_over.png" /></a><a href="forms.html"><img src="images/intranet_nav_forms_up.png" alt="Forms" width="46" height="22" hsrc="images/intranet_nav_forms_over.png" /></a><a href="employeeDirectory.html"><img src="images/intranet_nav_directory_up.png" alt="Employee Directory" width="147" height="22" hsrc="images/intranet_nav_directory_over.png" /></a><a href="offices.html"><img src="images/intranet_nav_offices_over.png" alt="Offices" width="57" height="22" hsrc="images/intranet_nav_offices_over.png" /></a><a href="default.html"><img src="images/intranet_nav_ppiHome_up.png" alt="PPI Home" width="70" height="22" hsrc="images/intranet_nav_ppiHome_over.png" /></a><!-- InstanceEndEditable --><!--end TemplateNav--></div>
			<!--end nav--></div><!--end headerRight--><div class="clear">&nbsp;</div></div><!--end header--><div id="intranetContent"><div id="intranetContentLeft"><!-- InstanceBeginEditable name="callout" --><img class="subNavHeader" src="images/intrante_hr_ppiIntranet.png" alt="PPI Intranet" /><img src="images/intranet_calloutWelcome.jpg" alt="Welcome" /><!-- InstanceEndEditable --><!--end templateCallout--></div>
			<!--end intranetContentLeft--><div id="intranetContentRight">
			  <!-- InstanceBeginEditable name="content" -->
			  <h1>Offices</h1>
			<h5>Office #1</h5>
			<p>123 Main Road Dr.<br />
			Baltimore, Maryland 21224<br />
			phone: 123-456-7891<br />
			toll free:1-800-123-4567<br />
			fax: 123-456-7892</p>

			<h5>Office #2</h5>
			<p>123 Main Road Dr.<br />
			Baltimore, Maryland 21224<br />
			phone: 123-456-7891<br />
			toll free:1-800-123-4567<br />
			fax: 123-456-7892</p>
			
			<h5>Office #3</h5>
			<p>123 Main Road Dr.<br />
			Baltimore, Maryland 21224<br />
			phone: 123-456-7891<br />
			toll free:1-800-123-4567<br />
			fax: 123-456-7892</p>
<!-- InstanceEndEditable --><!--end templateContent--></div><!--end intranetContentRight--><div class="clear">&nbsp;</div></div><!--end IntranetContent--><div id="intranetFooter"><div id="intranetFooterInterior"><!-- InstanceBeginEditable name="footer" --><p align="center"><a href="intranetHome.html">Home</a> | <a href="forms.html">Forms</a> | <a href="employeeDirectory.html">Employee Directory</a> | <a href="offices.html">Offices</a> | <a href="default.html">PPI Home</a></p><!-- InstanceEndEditable --></div>
<!--end footerInterior--></div><!--end intranetFooter--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
