<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/intranet.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. Intranet: Portal</title>
<!-- InstanceEndEditable --><!--end templateHead-->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->
<link href="css/intranet.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
	<div id="header">
		<div id="headerLeft">
			<a href="default.html"><img src="images/intranetLogo.png" alt="PPI" width="266" height="176" border="0" /></a> </div>
		<!--end headerLeft-->
		<div id="headerRight">
			<div id="intranetAuxNav">
			    <!-- InstanceBeginEditable name="logIn" -->			  <img class="auxNavHeader" src="images/intranet_auxNav_hr_signIn.png" width="114" height="19" alt="Employee Sign In" />
				<div id="auxNavLeft">
				<table border="0" cellspacing="0" cellpadding="10" class="loginForm">
  <tr>
    <td><h3>User Name:</h3></td>
    <td><input type="text" id="username" /></td>
  </tr>
  <tr>
    <td><h3>Password:</h3></td>
    <td><input type="text" id="password" /></td>
  </tr>
</table>
</div><!--end auxNavLeft-->
<div id="auxNavRight"><a href="intranetHome.html"><img src="images/btn_logOut_up.png" hsrc="images/btn_logOut_over.png" width="74" height="27" alt="Log Out" /></a></p></div><!--end auxNavRight-->
				<!-- InstanceEndEditable --><div class="clear">&nbsp;</div>
		  </div><!--end auxNav--><div class="clear">&nbsp;</div>
			<div id="intranetNav"><!-- InstanceBeginEditable name="nav" --><a href="default.html"><img src="images/intranet_nav_ppiHome_up.png" alt="PPI Home" width="70" height="22" hsrc="images/intranet_nav_ppiHome_over.png" /></a><!-- InstanceEndEditable --><!--end TemplateNav--></div>
			<!--end nav--></div><!--end headerRight--><div class="clear">&nbsp;</div></div><!--end header--><div id="intranetContent"><div id="intranetContentLeft"><!-- InstanceBeginEditable name="callout" --><img class="subNavHeader" src="images/intrante_hr_employeeSignIn.png" alt="Employee Sign In" /><img src="images/intranet_calloutWelcome.jpg" alt="Welcome" /><!-- InstanceEndEditable --><!--end templateCallout--></div>
			<!--end intranetContentLeft--><div id="intranetContentRight">
			  <!-- InstanceBeginEditable name="content" -->
			  <p><img src="images/hr_welcome.jpg" alt="welcome" /></p>
			  <h1>Please sign in to retrieve your Employee Information </h1>
			  <p>&nbsp;</p>
<!-- InstanceEndEditable --><!--end templateContent--></div><!--end intranetContentRight--><div class="clear">&nbsp;</div></div><!--end IntranetContent--><div id="intranetFooter"><div id="intranetFooterInterior"><!-- InstanceBeginEditable name="footer" --><p align="center"><a href="default.html">PPI Home</a></p><!-- InstanceEndEditable --></div>
<!--end footerInterior--></div><!--end intranetFooter--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
