<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/drill.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. Products: Books</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/drill.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
<div id="header">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png"  /><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Print" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav"><!-- InstanceBeginEditable name="nav" --><a href="aboutUs.html"><img src="images/nav_aboutUs_up.png" alt="About Us" hsrc="images/nav_aboutUs_over.png" /></a><a href="products.html"><img src="images/nav_products_on.png" alt="Products" hsrc="images/nav_products_on.png" /></a><a href="newsAndMedia.html"><img src="images/nav_newsMedia_up.png" alt="NEws and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signIn.html"><img src="images/nav_signIn_up.png" alt="Employee Sign In" hsrc="images/nav_signIn_over.png" /></a><!-- InstanceEndEditable --><!--end templateNav--></div><!--end nav--><div class="clear">&nbsp;</div></div><!--endHeader-->
<div id="content">
    	<div id="contentLeft"><!-- InstanceBeginEditable name="callouts" --><div id="calloutBlue"><img src="images/blueCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/hr_products_drill.png" width="188" height="18" alt="Products" />
    	  <div id="subNav"><a href="products_dvds.html">Dvds</a><br />
    	    <a href="products_plushToys.html">Plush Toys</a><br /><a class="on" href="products_books.html">Books</a><br /><a href="products_boardGames.html">Board Games</a>
		  
		  
		  
		  
		  </div><!--end subNav-->
</div><!--end calloutContent--><img src="images/blueCallout_bottom.png" width="229" height="19" /></div><!--end calloutBlue--><img src="images/callout_spacer.png" width="229" height="10" /><div id="calloutGreen"><img src="images/greenCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/contactUs_callout.png" width="182" height="266" alt="About Us" /></div><!--end calloutContent--><img src="images/greenCallout_bottom.png" width="229" height="19" /></div><!--end calloutGreen--><!-- InstanceEndEditable --><!--end templateCallouts--><img src="images/callout_bottom.png" width="229" height="14" /></div><!--end contentLeft-->
        <div id="contentRight">
          <!-- InstanceBeginEditable name="content" -->
		<h1>Books</h1>
        
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior">
          <div class="calloutLeft"><img src="images/products_book_packet.png" width="150" height="180" alt="PPI Book" /></div><div class="calloutRight">
            <h2>Learning about Charity from Packet the Porcupine</h2>
            <p>This picture book  provides a good introduction to charity and the spirit of giving. <em>Learning about Charity</em> is a fascinating  story about how Packet and friends take part in volunteer jobs and donate  clothes, books and toys to a local charity.&nbsp;  This special edition includes stationary to write get-well cards to  hospital patients or thank you notes to military service members.</p>
            <h6>Retail Price $14.99</h6></div><div class="clear">&nbsp;</div></div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--><!--end calloutLogIn-->
		<br />
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior">
          <div class="calloutLeft"><img src="images/products_book_ant.png" width="150" height="180" alt="PPI Book" /></div><div class="calloutRight">
          <h2>Packet's SIck day        </h2>
          <p>This book  chronicles the day Packet the Porcupine stays home  sick from school. On the day germs make Packet the Porcupine sick, ASCII the  Ant gets permission to take care of everything. It turns out taking care of  Packet is not an easy job! This book includes a glossary with descriptions and  interesting facts. &nbsp;</p>
          <h6>Retail Price $14.99</h6></div><div class="clear">&nbsp;</div></div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--><!--end calloutLogIn-->
		<br />
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior">
          <div class="calloutLeft"><img src="images/products_book_bear.png" width="150" height="180" alt="PPI Book" /></div><div class="calloutRight"><h2>Byte  and Router are Terrific Recyclers</h2>
            <p>&nbsp;An amusing picture book featuring popular characters Byte the Bear and Router  the Raccoon. After writing a school report on pollution, Byte and Router start  a successful recycling club. This book entertains kids while teaching them  about how to reduce, reuse and recycle. </p>
          <h6>Retail Price $14.99</h6></div><div class="clear">&nbsp;</div></div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--><!--end calloutLogIn-->
		<br />
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior">
          <div class="calloutLeft"><img src="images/products_book_weasel.png" width="150" height="180" alt="PPI Book" /></div><div class="calloutRight"><h2>Wire  the Weasel&rsquo;s Circle of Friends Learn about Social Networks</h2>
          <p>An  interesting and informative book that can benefit children and parents. Wire  the Weasel learns from mistakes when he shares information online that should  be private. Wire becomes suspicious and feels uncomfortable when he receives a  threat from another player in an online game. Fortunately, Wire has the courage  to share his feelings with his friends and family. This book offers tips to  protect kids from online bullying and teaches them how to act as they socialize  online.&nbsp; </p>
          <h6>Retail Price $14.99</h6></div><div class="clear">&nbsp;</div></div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--><!--end calloutLogIn-->
        <!--end calloutLogIn--><!-- InstanceEndEditable --><!--end contentTemplate--></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="footerNav"><div id="footerInterior"><p align="center"><a href="default.html">Home</a> | <a href="aboutUs.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsAndMedia.html">News &amp; Media</a> | <a href="signIn.html">Sign In</a> | <a href="#">Email</a></p></div><!--end footerInterior--></div><!--end footer--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
