<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/drill.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="SHORTCUT ICON" href="http://www.amstringer.com/clients/ppi/favicon32x32.jpg"/>


<meta http-equiv="" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plush Packet Inc. Sign In</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="js/swfobject.js"></script>
 <script language="JavaScript" type="text/javascript" src="js/rollovers.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/default_ie.css" />
<![endif]-->

<link href="css/drill.css" rel="stylesheet" type="text/css" />
<!-- InstanceEndEditable --><!--end templateHead-->
</head>


<body onload="initRollover()">
<div id="contain">
<div id="header">
<div id="auxNav">
	<a href="default.html"><img src="images/auxNav_home_up.png" alt="Home" hsrc="images/auxNav_home_over.png" /></a><img src="images/auxNav_email_up.png" alt="Email" hsrc="images/auxNav_email_over.png"  /><a href="#" onclick="window.print();return false;"><img src="images/auxNav_print_up.png" alt="Print" hsrc="images/auxNav_print_over.png" /></a></div><!--end auxNav--><div class="clear">&nbsp;</div>
	<div id="nav"><!-- InstanceBeginEditable name="nav" --><a href="aboutUs.html"><img src="images/nav_aboutUs_up.png" alt="About Us" hsrc="images/nav_aboutUs_over.png" /></a><a href="products.html"><img src="images/nav_products_up.png" alt="Products" hsrc="images/nav_products_over.png" /></a><a href="newsAndMedia.html"><img src="images/nav_newsMedia_up.png" alt="News and Media" hsrc="images/nav_newsMedia_over.png" /></a><a href="signIn.html"><img src="images/nav_signIn_on.png" alt="Employee Sign In" hsrc="images/nav_signIn_on.png" /></a><!-- InstanceEndEditable --><!--end templateNav--></div><!--end nav--><div class="clear">&nbsp;</div></div><!--endHeader-->
<div id="content">
    	<div id="contentLeft"><!-- InstanceBeginEditable name="callouts" --><div id="calloutBlue"><img src="images/blueCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/hr_employeesignin_drill.png" width="188" height="18" alt="Employee Sign In" />
    	  <div id="subNav">		  </div><!--end subNav-->
</div><!--end calloutContent--><img src="images/blueCallout_bottom.png" width="229" height="19" /></div><!--end calloutBlue--><img src="images/callout_spacer.png" width="229" height="10" /><div id="calloutGreen"><img src="images/greenCallout_top.png" width="229" height="19" /><div class="calloutContent"><img src="images/contactUs_callout.png" width="182" height="266" alt="About Us" /></div><!--end calloutContent--><img src="images/greenCallout_bottom.png" width="229" height="19" /></div><!--end calloutGreen--><!-- InstanceEndEditable --><!--end templateCallouts--><img src="images/callout_bottom.png" width="229" height="14" /></div><!--end contentLeft-->
        <div id="contentRight">
          <!-- InstanceBeginEditable name="content" -->
        <div id="calloutLogIn"><img src="images/logIn_top.png" width="485" height="25" /><div id="calloutLogInInterior"><img class="signInHr" src="images/hr_signIn_up.png" alt="Intro Content" width="250" height="27" hsrc="images/hr_signIn_over.png" />
          <p>Please click the button below to sign in to the PPI Intranet.</p>
          <p align="right"><a href="#"><img src="images/btn_logIn.png" hsrc="images/btn_logIn_over.png" width="74" height="27" alt="Log In" /></a></p>
    </div><!--end calloutLogInInterior--><img src="images/logIn_bottom.png" width="485" height="26" /></div><!--end calloutLogIn--><!-- InstanceEndEditable --><!--end contentTemplate--></div><!--end contentRight--><div class="clear">&nbsp;</div></div><!--end content--><div id="footerNav"><div id="footerInterior"><p align="center"><a href="default.html">Home</a> | <a href="aboutUs.html">About Us</a> | <a href="products.html">Products</a> | <a href="newsAndMedia.html">News &amp; Media</a> | <a href="signIn.html">Sign In</a> | <a href="#">Email</a></p></div><!--end footerInterior--></div><!--end footer--></div><!--end contain-->
</body>
<!-- InstanceEnd --></html>
